.tables-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}
